/*-------------------
        RESET
---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*-------------------
        GENERAL
---------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

/*-------------------
        LAYOUT
---------------------*/

.container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}


/*-------------------
        TYPOGRAPHY
---------------------*/

h1 {
    font-size: 65px;
    line-height: 70px;
    padding: 60px 0;
}

p {
    font-size: 14px;
    font-weight: 300;
}

li a {
    font-size: 12px;
    text-decoration: none;
    font-weight: 300;
}

/*-------------------
        BUTTONS
---------------------*/

.btn-primary {
    font-size: 13px;
    padding: 6px 10px;
    color: #fff;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    cursor: pointer;
}

.btn-small {
    font-size: 12px;
    font-weight: 300;
    padding: 4px 10px;
    color: #fff;
    border: 1px solid #0061ff;
    background-color: #0061ff;
    cursor: pointer;
}

.btn-secondary {
    font-size: 13px;
    font-weight: 300;
    padding: 6px 10px;
    color: #4f4f4f;
    border: 1px solid #4f4f4f;
    background-color: transparent;
    cursor: pointer;
}

/*-------------------
        HEADER
---------------------*/

header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
}

.container-header .row {
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav ul {
    display: flex;
    list-style: none;
}

.menu nav a {
    color: #000;
}

.menu nav ul li {
    padding: 15px;
}

.menu nav ul li a:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
}

.logo-img {
    height: 20px;
}

/*-------------------
        HERO
---------------------*/

.main-background {
    background-color: #b4d0e7;
}

.container-hero {
    max-width: 993px;
    margin: 0 auto;
}

.container-content {
    width: 100%;
    display: flex;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.arrow-container {
    margin-top: 50px;
    margin-bottom: 10px;
}

.fa-arrow-down {
    font-size: 40px
}

.col-70 img {
    margin-bottom: -300px;
}

/*-------------------
        CONTENT
---------------------*/

